<a href='/static/home.html'    >home</a>
<a href='/static/about.html'   >about</a>
<a href='/static/blog.html'    >blog</a>
<a href='/static/contact.html' >contact</a>
<a href='/static/readme.html'  >readme</a>
<a href='/template10/'         >template10</a>
<a href='/template11/ibm'      >template11/ibm</a>
<a href='/template12/'         >template12</a>
<a href='/template13/'         >template13</a>
<a href='/template14/FB'       >template14/FB</a>
<a href='/template15/?tkr=AAPL'>template15/?tkr=AAPL</a>
