<html>
  <head>
    <title>
      template13
    </title>
  </head>
  <body>
    {% include 'links_top.html' %}
    <h1>template13</h1>
    <h2>A Template Built With Flask, HTML copied from Yahoo by Python</h2>
    <p>I should use a template if I want Python to help me generate some HTML.</p>
    <p>This template should get some HTML from 
      <a href='https://finance.yahoo.com/quote/IBM' target='x'>
        https://finance.yahoo.com/quote/IBM
      </a>
      and then render it below:</p>
    <hr />
    {{mystr|safe}}

    <p>The syntax which controls this page is displayed below:</p>
    <a href='https://github.com/danbikle/flask12/blob/master/flask12.py' target='x'>
    https://github.com/danbikle/flask12/blob/master/flask12.py
    </a>
    <br />
    <a href='https://github.com/danbikle/flask12/blob/master/templates/template13.html' target='x'>
    https://github.com/danbikle/flask12/blob/master/templates/template13.html
    </a>
    
    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
