<html>
  <head>
    <title>
      template11
    </title>
  </head>
  <body>
    {% include 'links_top.html' %}
    <h1>template11</h1>
    <h2>A Template Built With Flask, HTML created by Python</h2>
    <p>This page is similar to template10.</p>
    <p>A difference, however, is that YOU can change a small piece of HTML below.</p>
    <p>You do this by changing the ticker symbol in the URL field above.</p>
    <p>The default value of the symbol is 'ibm'.</p>
    <p>Try changing it to 'GOOG' and then press enter.</p>
    <p>When the Flask server sees your new request, it will wrap 'GOOG' in an HTML h2-element, and then serve it to you:</p>
    <p>The ticker is:</p> <h2>{{tkr}}</h2>
    <p>The syntax which controls this page is displayed below:</p>
    <a href='https://github.com/danbikle/flask12/blob/master/flask12.py' target='x'>
    https://github.com/danbikle/flask12/blob/master/flask12.py
    </a>
    <br />
    <a href='https://github.com/danbikle/flask12/blob/master/templates/template11.html' target='x'>
    https://github.com/danbikle/flask12/blob/master/templates/template11.html
    </a>

    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
