<html>
  <head>
    <title>
      template15
    </title>
  </head>
  <body>
    {% include 'links_top.html' %}
    <h1>template15</h1>
    <h2>A Template Built With Flask,</h2>    
    <h3>Ticker Copied From Form By Python, HTML copied from Yahoo by Python</h3>
    <p>I should use a template if I want Python to help me generate some HTML.</p>
    <p>This template asks the user for a ticker symbol:</p>
    <form>
      <input name='tkr'  method='GET' type='text' />
      <input type="submit" />
    </form>
    
    <p>Then Python requests info about the ticker from https://finance.yahoo.com</p>
    <p>Next, Flask renders that info as HTML below:</p>
    <hr />
    {{mystr|safe}}
    
    <p>The syntax which controls this page is displayed below:</p>
    <a href='https://github.com/danbikle/flask12/blob/master/flask12.py' target='x'>
    https://github.com/danbikle/flask12/blob/master/flask12.py
    </a>
    <br />
    <a href='https://github.com/danbikle/flask12/blob/master/templates/template15.html' target='x'>
    https://github.com/danbikle/flask12/blob/master/templates/template15.html
    </a>
    
    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
