<html>
  <head>
    <title>
      template14
    </title>
  </head>
  <body>
    {% include 'links_top.html' %}
    <h1>template14</h1>
    <h2>A Template Built With Flask, HTML copied from Yahoo by Python</h2>
    <p>I should use a template if I want Python to help me generate some HTML.</p>
    <p>This template asks the user for a ticker symbol in the URL field above.</p>
    <p>Then Python requests info about the ticker from https://finance.yahoo.com</p>
    <p>Next, Flask renders that info as HTML below:</p>
    <hr />
    {{mystr|safe}}
    
    <p>The syntax which controls this page is displayed below:</p>
    <a href='https://github.com/danbikle/flask12/blob/master/flask12.py' target='x'>
    https://github.com/danbikle/flask12/blob/master/flask12.py
    </a>
    <br />
    <a href='https://github.com/danbikle/flask12/blob/master/templates/template14.html' target='x'>
    https://github.com/danbikle/flask12/blob/master/templates/template14.html
    </a>
    
    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
