<html>
  <head>
    <title>
      template10
    </title>
  </head>
  <body>
    <a href='/static/home.html'   >home</a>
    <a href='/static/about.html'  >about</a>
    <a href='/static/blog.html'   >blog</a>
    <a href='/static/contact.html'>contact</a>
    <a href='/static/readme.html' >readme</a>
    <a href='/template10/'        >template10</a>
    <h1>template10</h1>
    <h2>A Site Built With Flask</h2>
    <p>I should use a template if I want Python to help me generate some HTML.</p>
    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
