<html>
  <head>
    <title>
      template10
    </title>
  </head>
  <body>
    {% include 'links_top.html' %}
    <h1>template10</h1>
    <h2>A Template Built With Flask</h2>
    <p>This page may look like static HTML.</p>
    <p>Actually, this page gets its HTML from a Flask Template.</p>
    <p>I should use a template if I want to reuse and share HTML among pages.</p>
    <p>The links above reside in a template called 'links_top.html'.</p>
    <p>That template is combined with the template10.html template before templat10 is served to you.</p>
    <p>I learned about including templates within templates at the link below:</p>
    <p>
<a href='http://jinja.pocoo.org/docs/dev/templates/#include' target='x'>
http://jinja.pocoo.org/docs/dev/templates/#include
</a>
    </p>

    <p>Also, I should use a template if I want Python to help me generate some HTML.</p>
    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
