<html>
  <head>
    <title>
      template16
    </title>
  </head>
  <body>
    <a href='/static/home.html'   >home</a>
    <a href='/static/about.html'  >about</a>
    <a href='/static/blog.html'   >blog</a>
    <a href='/static/contact.html'>contact</a>
    <a href='/static/readme.html' >readme</a>
    <a href='/template10/'        >template10</a>
    <a href='/template11/ibm'     >template11/ibm</a>
    <a href='/template12/'        >template12</a>
    <a href='/template13/'        >template13</a>
    <a href='/template14/FB'      >template14/FB</a>
    <a href='/template15/'        >template15</a>
    <a href='/template16/?tkr=AAPL' >template16/?tkr=AAPL</a>
    <h1>template16</h1>
    <h2>A Site Built With Flask</h2>
    <p>I should use a template if I want Python to help me generate some HTML.</p>
    <p>This template asks the user for a ticker symbol in the URL field above.</p>
    <p>Then Python requests info about the ticker from https://finance.yahoo.com</p>
    <p>Next, Flask renders that info as HTML below:</p>
    <hr />
    {{mystr|safe}}
    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
