<html>
  <head>
    <title>
      template12
    </title>
  </head>
  <body>
    {% include 'links_top.html' %}
    <h1>template12</h1>
    <h2>A Site Built With Flask</h2>
    <p>I should use a template if I want Python to help me generate some HTML.</p>
    <p>This template should copy a string from Python server to HTML displayed below.</p>
    <h2>Python server says: {{mystr}}</h2>
    
    <p>The syntax which controls this page is displayed below:</p>
    <a href='https://github.com/danbikle/flask12/blob/master/flask12.py' target='x'>
    https://github.com/danbikle/flask12/blob/master/flask12.py
    </a>
    <br />
    <a href='https://github.com/danbikle/flask12/blob/master/templates/template12.html' target='x'>
    https://github.com/danbikle/flask12/blob/master/templates/template12.html
    </a>

    <hr />
    <p>© py4.us 1999-3000</p>
  </body>
</html>
